
target/classes/application-integrationtest.properties
target/classes/application.properties
target/classes/project/truckerapi/Application.class
target/classes/project/truckerapi/controller/AlertsController.class
target/classes/project/truckerapi/controller/ReadingsController.class
target/classes/project/truckerapi/controller/VehicleController.class
target/classes/project/truckerapi/entity/Alerts.class
target/classes/project/truckerapi/entity/Readings.class
target/classes/project/truckerapi/entity/Tires.class
target/classes/project/truckerapi/entity/Vehicle.class
target/classes/project/truckerapi/exception/BadRequestException.class
target/classes/project/truckerapi/exception/VehicleNotFoundException.class
target/classes/project/truckerapi/repository/AlertsRepository.class
target/classes/project/truckerapi/repository/ReadingsRepository.class
target/classes/project/truckerapi/repository/TiresRepository.class
target/classes/project/truckerapi/repository/VehicleRepository.class
target/classes/project/truckerapi/service/AlertsService.class
target/classes/project/truckerapi/service/AlertsServiceImpl.class
target/classes/project/truckerapi/service/ReadingsService.class
target/classes/project/truckerapi/service/ReadingsServiceImpl.class
target/classes/project/truckerapi/service/VehicleService.class
target/classes/project/truckerapi/service/VehicleServiceImpl.class
target/classes/project/truckerapi/SwaggerConfig.class
target/test-classes/project/truckerapi/service/ReadingsServiceImplTest$ReadingsServiceImplTestConfiguration.class
target/test-classes/project/truckerapi/service/ReadingsServiceImplTest.class
target/test-classes/project/truckerapi/service/VehicleServiceImplTest$VehicleServiceImplTestConfiguration.class
target/test-classes/project/truckerapi/service/VehicleServiceImplTest.class
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
target/surefire-reports/project.truckerapi.service.ReadingsServiceImplTest.txt
target/surefire-reports/project.truckerapi.service.VehicleServiceImplTest.txt
target/surefire-reports/TEST-project.truckerapi.service.ReadingsServiceImplTest.xml
target/surefire-reports/TEST-project.truckerapi.service.VehicleServiceImplTest.xml
target/TruckerApi-1.0.0.jar
target/TruckerApi-1.0.0.jar.original
src/main/resources/application.properties
